@import 'lib/panel';

.content {
  @extend %panel;
  
  float: left;
  width: calc(100% - 218px);
  margin-left: 16px;

  .content-body {
    padding: 32px;

    > img {
      width: 100%;
    }
  }
}