@import 'lib/panel';

.content {
  @extend %panel;
  
  float: left;
  width: calc(100% - 218px);
  margin-left: 16px;

  @media (max-width: $breakpoint__mobile-nav-max-width) {
    width: 100%;
    margin-left: 0;
    
    // Remove border, because we go full-width
    border: none;
  }

  .content-body {
    padding: 32px;

    > img {
      width: 100%;
    }
  }
}