.mobile-menu-slide-wrapper {
  max-height: 0px;
  overflow: hidden;
  z-index: 100;
  position: relative;
  
  transition: max-height .5s linear;
}

.mobile-menu {
  background: white;
  padding: 0 0 24px;

  .nav-heading, .menu-item {
    padding: 8px 32px;
  }

  .nav-heading {
    font-weight: bold;
    padding-bottom: 8px;
    padding-top: 24px;
  }
}

.mobile-menu-page-dimmer {
  display: none;
  position: fixed;

  background: rgba(0, 0, 0, .5);

  transition: background 1s linear;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.show {
    display: block;
  }
}