$animation-duration: .3s;

.mobile-menu-slide-wrapper {
  max-height: 0px;
  overflow: hidden;
  z-index: 100;
  position: relative;
  
  transition: max-height $animation-duration linear;
}

.mobile-menu {
  background: white;
  padding: 0 0 24px;

  .nav-heading, .menu-item {
    padding: 8px 32px;
  }

  .nav-heading {
    font-weight: bold;
    padding-bottom: 8px;
    padding-top: 24px;
  }
}

.mobile-menu-page-dimmer {
  display: none;
  position: fixed;

  background: black;
  opacity: 0;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.show {
    animation: mobile-menu-fade-in $animation-duration;
    display: block;
    opacity: 0.7;
  }

  &:not(.show).did-fade-in {
    display: block;
    animation: mobile-menu-fade-out $animation-duration;
  }
}

@keyframes mobile-menu-fade-in {
  from { opacity: 0; }
  to   { opacity: .7; }
}

@keyframes mobile-menu-fade-out {
  from { opacity: .7; }
  to   { opacity: 0; }
}