.fake-navbar {
  position: relative;
  height: calc(60px + 4px);
}

.navbar {
  background: white;
  position: absolute;
  z-index: 200;
  width: 100%;
  border-bottom: 1px solid #ccc;
  top: 0;
  border-top: 4px solid $red;

  .site-title {
    font-family: Merriweather, serif;
    font-weight: bold;
    color: $red;
    font-size: 18px;
    float: left;
    line-height: 60px;
    vertical-align: middle;
    text-decoration: none;
  }

  .navbar-right {
    float: right;
  }

  &::before {
    height: 60px;
    width: 100%;
    position: relative;
  }
}