.side-nav {
  width: 200px;
  float: left;
  
  .nav-heading {
    font-size: 14px;
    font-weight: bold;
    margin-left: 8px;
    padding: 8px 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 24px;
  }

  li {
    font-size: 14px;
    
    a {
      display: block;
      padding: 8px 16px;
      border-radius: 2px;
      text-decoration: none;
      color: $text-color;
    }
    
    a.active {
      background: white;
      padding-left: 12px;
      border-left: 4px solid $red;
    }
  }
}