 // Variables
 @import 'variables';

// Misc
@import 'clearfix';
@import 'container';

@import 'navbar';
@import 'side-nav';
@import 'typography';
@import 'content';
@import 'file-download';
@import 'hamburger';
@import 'mobile-menu';

/**
 * Misc styles
 */
body {
  background: $grey-lighter;
  margin: 0;
  margin-bottom: 24px;

  @media (max-width: $breakpoint__mobile-nav-max-width) {
    margin-bottom: 0;
  }
}