body, button, input, select, label {
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size;
}

body {
  color: $text-color;
}

h1 {
  border-bottom: 1px solid $grey-light;
  padding: 8px 0;
  margin-top: 0;
}

h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h2 {
  margin: 24px 0 2px;
}

a {
  color: $blue;
}

p {
  color: $text-color-light;
}

blockquote {
  color: $grey;
  border-left: 4px solid $grey;
  margin: 32px 0;
  padding: 0 16px;
}